@import "extra.css";
body {
  font-family: Georgia, palatino linotype, trebuchet ms, arial, helvetica,
    sans-serif;
  font-size: 12px;
  background: #ddd;
  margin: 20px 10em 0;
}
div.main {
  border: 1px solid #ccc;
  background: #fff;
  padding-left: 20px;
  padding-right: 0;
  padding-bottom: 20px;
  position: relative;
}
div.sidemenu {
  float: right;
  width: 180px;
  margin: 0 0 20px 20px;
  padding: 4px;
  position: relative;
  border-left: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
  height: 100%;
}
p {
  color: #000;
  font-size: 12pt;
  text-align: justify;
  padding-right: 20px;
}
h1 {
  color: #00008b;
  font-family: gill sans, century gothic, trebuchet ms, arial, helvetica,
    sans-serif;
  font-size: 3em;
  font-weight: 100;
  margin-top: 10px;
}
h2 {
  color: #8b0000;
  font-family: gill sans, century gothic, trebuchet ms, arial, helvetica,
    sans-serif;
  font-size: 2.5em;
  font-weight: 400;
  margin-top: -5px;
}
h2.below {
  background: #066;
  color: #fff;
  margin-top: -20px;
  width: 100%;
  padding-left: 50px;
}
h3 {
  color: #00008b;
  font-family: gill sans, century gothic, trebuchet ms, arial, helvetica,
    sans-serif;
  font-size: 1.5em;
  font-weight: 900;
}
h4 {
  font-size: 1em;
  text-align: left;
  color: #00008b;
}
h5 {
  background-color: #fff;
  color: #066;
  font-size: 12pt;
  font-weight: 700;
}
h6 {
  background-color: #fff;
  color: #000;
  font-size: 12pt;
}
a {
  color: #c30;
  font-weight: 900;
  text-decoration: none;
}
a:active {
  color: #c30;
}
a:link {
  color: #c30;
}
a:visited {
  color: #c30;
}
a:hover {
  color: #00008b;
  text-decoration: underline;
}
img {
  border: 0;
}
th {
  color: #fff;
  font-size: 12pt;
  background-color: #066;
}
caption {
  caption-side: top;
  text-align: left;
  font-size: 14pt;
  font-weight: 700;
  color: #000;
}
ul {
  color: #000;
  font-size: 12pt;
  list-style: square;
}
.sitetitle {
  font-family: gill sans, century gothic, trebuchet ms, arial, helvetica,
    sans-serif;
  font-size: 1.7em;
  padding-right: 0.3em;
  font-weight: 700;
}
#headerNav {
  padding: 0;
  color: #fff;
  background-color: #000;
  margin: 0;
}
#headerNav ul {
  margin: 0;
  padding: 0;
  display: inline;
}
#headerNav li {
  display: inline;
  list-style-type: none;
  border-right: 1px dashed #fff;
  padding: 0;
  margin: 0;
  margin-left: 0.3em;
  margin-right: 0.3em;
  padding-right: 0.3em;
}
#headerNav li a {
  color: #fff;
  font-size: 0.75em;
}
#topNav a:hover {
  background-color: #999;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: -1px;
}
#topNav {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 0.5em;
  color: #fff;
  background-color: #c30;
  margin: 0;
}
#topNav ul {
  margin: 0;
  padding: 0;
  display: inline;
}
#topNav li {
  display: inline;
  list-style-type: none;
  border-right: 1px dashed #fff;
  padding: 0;
  margin: 0;
  margin-left: 0.3em;
  margin-right: 0.3em;
  padding-right: 0.3em;
}
#topNav li a {
  color: #fff;
  font-size: 0.7em;
}
#topNav a:hover {
  background-color: #060;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: -1px;
}
#mainNav {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 0.5em;
  color: #000;
  background-color: #fff;
  margin: 0;
  border-bottom: 4px solid #999;
}
#mainNav ul {
  margin: 0;
  padding: 0;
}
#mainNav li {
  display: inline;
  list-style-type: none;
  border-right: 1px dashed #000;
  padding: 0;
  margin: 0;
  margin-left: 0.3em;
  margin-right: 0.3em;
  padding-right: 0.3em;
  font-size: 0.95em;
}
#mainNav a:hover {
  background-color: #ccc;
  border-bottom: 2px solid #666;
  border-right: 2px solid #666;
  border-top: 1px solid #ccc;
  border-left: 2px solid #ccc;
  margin: -2px;
}
#skip {
  position: absolute;
  left: -9000px;
  top: 0;
  z-index: 20;
}
a.button,
input.button {
  padding: 2px;
  margin: 0 20px 0 0;
  display: block;
  text-decoration: none;
  background-color: #fff;
  color: #c30;
  font-size: 8pt;
  font-family: arial;
  font-weight: 700;
  text-align: center;
  border: 1px #c30 solid;
}
input.button {
  display: inline;
}
a.button:visited {
  color: #c30;
}
a.button:link {
  color: #c30;
}
a.button:hover,
input.button:hover {
  background-color: #ddd;
  cursor: pointer;
  text-decoration: none;
}
p.quote {
  font-family: Impact, Arial;
  font-size: 16pt;
  font-weight: 200;
  white-space: normal;
}
p.firstpara {
  font-size: 1.3em;
  font-weight: 400;
}
p.firstpara:first-letter {
  font-size: 28pt;
  font-weight: 900;
}
p.boxright,
p.boxbelow {
  background: #f99;
  padding: 10px;
  color: #000;
  font-size: 1.1em;
  margin-left: 1em;
  margin-right: 1em;
}
p.boxfixed {
  float: right;
  width: 12%;
  padding: 10px;
  margin: 5px;
  color: #fff;
  font-size: 10pt;
  border: 2px #000 dashed;
  background: #f99;
}
